---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Blog">
  <h2>Blog</h2>
  <ul>
    <li><a href="/blog/first-post">My First Blog Post</a></li>
  </ul>
</BaseLayout>
