---
import BaseLayout from '../layouts/BaseLayout.astro';

---

<BaseLayout title="Home">


  <p>This is a sample homepage built with Astro.</p>

  <img src="/my-photo.png" alt="A cool picture" width="300" />
</BaseLayout>
